<h1>Your Folders</h1>
<p><button class="add-btn" onclick="createFolder()">Add Folder</button></p>

<ul class="items-list">
  <% folders.forEach(folder => { %>
  <li id="folder-<%= folder.id %>">
    <a href="/folders/<%= folder.id %>"><%= folder.name %></a>
    <div class="button-group">
      <button
        class="rename-btn"
        onclick="renameFolder(<%= folder.id %>, '<%= folder.name %>')"
      >
        rename
      </button>
      <button class="delete-btn" onclick="deleteFolder(<%= folder.id %>)">
        delete
      </button>
    </div>
  </li>
  <% }) %>
</ul>
