<h1>Your Folders</h1>
<p><button onclick="createFolder()">Add folder</button></p>

<ul>
  <% folders.forEach(folder => { %>
  <li id="folder-<%= folder.id %>">
    <a href="/folders/<%= folder.id %>"><%= folder.name %></a>
    <button onclick="renameFolder(<%= folder.id %>, '<%= folder.name %>')">
      Rename
    </button>
    <button onclick="deleteFolder(<%= folder.id %>)">Delete</button>
  </li>
  <% }) %>
</ul>
